<div class="card mb-3" [class.bg-success]="todo.completed">
  <div class="card-body">
    <h5 class="card-title">{{ todo.title }}</h5>
    <p class="card-text">{{ todo.text }}</p>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <button
        *ngIf="!todo.completed"
        class="btn btn-success"
        (click)="onCompleteTask()"
      >
        Complete
      </button>
      <button
        *ngIf="todo.completed"
        class="btn btn-warning"
        (click)="onIncompleteTask()"
      >
        Incomplete
      </button>
      <button class="btn btn-danger" (click)="onDeleteTask()">Delete</button>
    </div>
  </div>
</div>
